.Contact{
    background-image: url('../Images/Rainbow-Vortex.svg');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    height: 35vh;
    display: flex;
}
.Contact h1 {
 padding-left: 150px;
}

.Contact .ContactIcons {
    width: 100%;
    display: flex;
    justify-content: center;
}
.Contact .ContactIcons div {
    padding:10px

}

.Contact .ContactIcons svg path {
    cursor: pointer;
}